* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #adb5bd;
}
body {
  background-image: url("https://images.pexels.com/photos/5087702/pexels-photo-5087702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.triangle {
  position: relative;
  background: #0a0908;
  border-radius: 15px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 44px 0 44px;
  border-color: #0a0908 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  
}
